*{
    font-family:Arial;
}
html{
    background-image: url(../images/bats.gif);
    background-repeat: repeat;
}

body{
  width:800px;
  border:2px solid black;
  background: white;
  position: relative;
  margin: 0 auto;
  box-shadow: 0px 0px 15px 15px black;
}
header{
    padding:5px;
    border-bottom: solid black;
    background: linear-gradient(45deg, white 12.5%, orange 75%, black 100%);
}

.img{
    float: left;
}

.topH{
    text-indent: 1em;
}
#topH1{
    margin:0;
    font-size: 2em;
}

.heading {
    font-size:1em;
}

#firstH:first-child:first-letter{
    font-size: 3em;
}

aside{
    padding-left:5px;
    width:160px;
    float:left;
}

main{
    width:600px;
    float: right;
    padding:5px
}
.POTW{
    clear:both;
}
a:link{
    font-weight: bold;
    color: orange;
    
}

a:hover{
    color:green;
}

li{
    line-height: 1.5;
}

footer{
    clear:both;
    height:30px;
    border-top: solid black;
    background: linear-gradient(45deg, black 12.5%, orange 75%, white 100%);
    font-size: .5em;
    text-align: center;
}
