*{
    font-family:Arial;
}
html{
    background-image: url(../images/bats.gif);
    background-repeat: repeat;
}

body{
  width:800px;
  border:2px solid black;
  background: white;
  position: relative;
  margin: 0 auto;
  box-shadow: 0px 0px 15px 15px black;
}
header{
    padding:5px;
    border-bottom: solid black;
    background: linear-gradient(45deg, white 12.5%, orange 75%, black 100%);
}

nav{
    width:800px;
}

nav ul{
    list-style-type: none;
    margin:0;
    padding:0;
}

nav ul li {
    float: left;
    width:20%;
    height:30px;
    text-align: center;
    background: black;
}
.current{
    color: orange;
}
nav ul a:link{
    display: block;
    text-decoration: none;
    font-weight: bold;
    color: white;

}

nav ul a:visited{
    color: white;
}

nav ul a:hover{
    background:gray;
}

.img{
    float: left;
}

.topH{
    text-indent: 1em;
}
#topH1{
    margin:0;
    font-size: 2em;
}

.heading {
    font-size:1em;
}

/*Left side bar*/
#leftsb{
    clear:both;
    padding-left:5px;
    width:160px;
    float:left;
}

#leftsb ul{
    list-style-type: none;
    margin:0;
    padding:0;
}

#leftsb ul li{
    background: orange;
    margin: 3px;
}

#leftsb ul a:link{
    display:block;
    font-weight: bold;
    color: black; 
    text-decoration:none;
    line-height:2em;
    border: 3px solid black;
}

#leftsb ul a:visited{
    color:black;
}

#leftsb ul a:hover{
    color:green;
}

#rightsb{
    padding-right:5px;
    width:180px;
    float:right;
    background:#F5DEB3;
}

#rightsb ul a:link, #rightsb ul a:visited{
    color:black;
}


#rightsb ul a:hover, #rightsb ul a:focus{
    color:green;
}

#rightsb ul {
    list-style-type:none;
    padding: 0;
}

#rightsb ul li{
    margin: 1em;  
}

#rightsb h2{
    padding-left: .25em;
}
.rsbPic{
    height:5em;
    width:5em;
}


main{
    width:400px;
    padding:5px;
    float:right;
}

li{
    line-height: 1.5;
}

.catpic{
    float:left;
    margin-right: 1em;
}

footer{
    clear:both;
    height:30px;
    border-top: solid black;
    background: linear-gradient(45deg, black 12.5%, orange 75%, white 100%);
    font-size: .5em;
    text-align: center;
}


